.sect {
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.36px;

    &--2{
        font-size: 24px;
    }
  }

  &__txt{
    font-size: 15px;
    font-weight: 400;

    &--big{
      font-size: 32px;
      font-weight: 300;
    }
  }
}

.attribution{

  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 0 4vw 6vh 4vw;
  
  &>a{
    color: var(--color-orange);
    font-weight: 300;
    transition: 0.2s;
    cursor: pointer;

    &:hover{
      transition: 0.3s;
      color: var(--pale-blue);
    }
  }
  }


  @media(min-width: 600px){

    .sect{

      &__title{

        &--2{
          font-size: 40px;
          line-height: 116%;
        }
      }
    }
  }