

.main{

    &__ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
    }
    &__el{
        width: 100%;
        height: 160px;
        border-radius: 14px;


        &:nth-child(1){
            background-color: var(--color-lRed);
        }
        &:nth-child(2){
            background-color: var(--color-sBlue);
        }
        &:nth-child(3){
            background-color: var(--color-red);
        }
        &:nth-child(4){
            background-color: var(--color-green);
        }
        &:nth-child(5){
            background-color: var(--color-violet);
        }
        &:nth-child(6){
            background-color: var(--color-orange);
        }
    }
}


.el{

    &__decorBox{
        height: 44px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 18px;
        overflow: hidden;
    }
    &__decorImg{
        width: 80px;
        height: 80px;
        object-fit: cover;
        transform: translateY(-11px);

    }

    &__boxCont{

        height: calc(100% - 44px);
        width: 100%;
        border-radius: 13px;
        background-color: var(--dark-blue);
        padding:0 6.4vw;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;

        &:hover{
            transition: 0.4s;
            background-color: var(--desat-blue);

        }
    }
    &__boxTitle{
        width: 100%;
        height: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 0 0 16px 0;
        &>p{
            font-size: 18px;
            font-weight: 500;
        }
    }
&__imgOption{
transition: 0.3s;

    cursor: pointer;
        &:hover{
           transition: 0.3s;
               &>path{
                fill: var(--color-txt);
               }
            
        }
}
    &__boxInfo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media(min-width:600px){

    .main{
        &__ul{
            height: 100%;
            margin: -15px 0 0 0;
        }

        &__el{
            width: calc(33% - 30px);
            height: calc(50%);
        }
    }

    .el{
        &__boxCont{
            padding: 0 2.5vw;
        }
    }
}