.main {
  padding: 38px 4vw;
  margin: 0 0 20vh 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;

  &__card {
    width: 100%;
    height: 203px;
    border-radius: 14px;
    background-color: var(--dark-blue);
  }

  &__list{
    width: 100%;
    height: auto;
    margin: 23px 0;
  }
}
.card {
  &__profil {
    width: 100%;
    height: 134px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 7.5vw;
    background-color: var(--color-blue);
  }

  &__list {
    height: calc(100% - 134px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 28px;
  }

  &__link {
    display: inline-flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1.1px;
color: var( --desat-blue);
    &--actif{
        font-weight: 400;
        color: var(--color-txt);
    }

    &:hover{
        transition: 0.2s;
        color: var(--color-txt);

    }
  }
}

.profil {
  &__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 4px solid var(--color-txt);
  }
  &__boxTxt {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    & > p {
      color: var(--pale-blue);
    }
  }
}

@media(min-width: 600px){

  .main{
    padding: 20vh 12vw;
    &__card {
      width: calc(25% - 15px);
      height: 100%;
      
    }
    &__list{
      width: calc(75% - 15px);
     
    }
  }

  .card{
&__profil{
  height: 70%;
  flex-direction: column;
  align-items: start;
  padding: 32px 2.5vw;
  row-gap: 42px;
}
    &__list{
      height: 30%;
      flex-direction: column;
      padding: 28px 2.5vw;
      align-items: start;
    }
  }
  .profil{
    &__img{
      width: 6.5vw;
      height: 6.5vw;
    }
  }
}